{
  "presets": [
    "flow",
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "safari >= 7"
          ],
          "node": "6.10"
        }
      }
    ],
    "react",
    "stage-2"
  ],
  "env": {
    "plugins": [
      "react-flow-props-to-prop-types"
    ]
  }
}
